<template>
  <q-page class="bg-info">
    <div class="q-pa-md text-justify">
      <p class="text-h4">À qui s'adresse cette application</p>
      <p class="text-primary text-body1">
        Cette application s'adresse à toute personne qui s'intéresse aux
        neuropathies périphériques inflammatoires/dysimmunes. Il s'agit d'une
        application développée par l'Association Française contre les
        Neuropathies Périphériques (AFNP). L'Association AFNP autorise
        l'application à utiliser du contenu présent sur son
        <a href="https://www.neuropathies-peripheriques.org/"> site internet</a
        >.
      </p>

      <p class="text-h4">Confidentialité</p>
      <p>
        Cette application ne collecte et manipule aucune donnée. Elle ne demande
        que très peu de permissions à votre smartphone. En revanche, vous êtes
        toujours susceptibles d'être pisté par votre compte google, apple,
        samsung... car cela ne dépend pas que de l'application. De nombreuses
        sources d'informations sont disponibles à ce sujet, notamment sur le
        site
        <a
          href="https://wiki.nothing2hide.org/doku.php?id=protectionnumerique:smartphone"
        >
          Nothing2Hide</a
        >. Notez qu'en cliquant sur des liens externes à l'application AFNP (par
        ex. pour participer à la plateforme
        <a href="https://neuroquali.org/">Neuroquali</a>), les règles de
        confidentialité peuvent être différentes.
      </p>

      <p class="text-h4">Détails techniques</p>
      <p>
        Construction de l'application :
        <a href="https://adrientaudiere.com">Adrien Taudière</a> (entreprise
        IdEst) avec l'aide du logiciel libre
        <a href="https://quasar.dev/">Quasar</a>.
      </p>
    </div>
  </q-page>
</template>

<script></script>
