<template>
  <q-page class="bg-info">
    <div class="q-pa-xs q-pt-md">
      <q-list bordered class="rounded-borders q-mx-sm">
        <q-expansion-item
          expand-separator
          icon="eva-question-mark-circle-outline"
          label="En savoir plus sur ces maladies"
          class="text-primary text-bold"
          style="font-size: 120%"
          group="group-expansion"
        >
          <q-card>
            <q-card-section
              class="text-weight-regular q-pa-none"
              style="font-size: 90%"
            >
              <q-list dense class="rounded-borders">
                <div>
                  <q-item
                    v-ripple
                    clickable
                    tag="a"
                    to="/neuropathies"
                    class="q-pa-xs"
                  >
                    <q-item-section
                      avatar
                      style="min-width: 8%"
                      class="q-pa-xs"
                    >
                      <q-icon name="ion-flask"></q-icon>
                    </q-item-section>

                    <q-item-section class="text-bold">
                      Mieux comprendre ces maladies
                    </q-item-section>
                  </q-item>
                  <q-list dense class="text-caption">
                    <q-item v-ripple clickable tag="a" to="/neuropathies">
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon
                          size="xs"
                          name="eva-alert-circle-outline"
                        ></q-icon>
                      </q-item-section>
                      <q-item-section> Plus d'informations </q-item-section>
                    </q-item>

                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://www.filnemus.fr/carte-interactive/ou-consulter"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="ion-locate"></q-icon>
                      </q-item-section>
                      <q-item-section>
                        Trouver le centre de référence le plus proche
                      </q-item-section>
                    </q-item>

                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://online.fliphtml5.com/jngq/dnjq/"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="eva-file-text-outline"></q-icon>
                      </q-item-section>
                      <q-item-section>
                        Brochure : Éducation thérapeutique du patient
                      </q-item-section>
                    </q-item>

                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://www.youtube.com/watch?v=0qbIE0FjrTo"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="ion-logo-youtube"></q-icon>
                      </q-item-section>
                      <q-item-section> Regarder une video </q-item-section>
                    </q-item>
                  </q-list>
                </div>
                <div class="bg-accent">
                  <q-item
                    v-ripple
                    clickable
                    tag="a"
                    to="/traitements"
                    class="q-pa-xs"
                  >
                    <q-item-section
                      avatar
                      style="min-width: 8%"
                      class="q-pa-xs"
                    >
                      <q-icon name="ion-medkit"></q-icon>
                    </q-item-section>

                    <q-item-section class="text-bold">
                      Mieux connaître les traitements
                    </q-item-section>
                  </q-item>

                  <q-list dense class="text-caption">
                    <q-item v-ripple clickable tag="a" to="/traitements">
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon
                          size="xs"
                          name="eva-alert-circle-outline"
                        ></q-icon>
                      </q-item-section>
                      <q-item-section> Plus d'informations </q-item-section>
                    </q-item>
                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://online.fliphtml5.com/sxqie/obmi/?1541853756908/#p=1"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="eva-file-text-outline"></q-icon>
                      </q-item-section>
                      <q-item-section>
                        Les immunoglobulines sous-cutanées (Brochure)
                      </q-item-section>
                    </q-item>

                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://www.youtube.com/watch?v=83Hmaqd1tgI"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="ion-logo-youtube"></q-icon>
                      </q-item-section>
                      <q-item-section> Regarder une vidéo </q-item-section>
                    </q-item>
                  </q-list>
                </div>
                <div>
                  <q-item
                    v-ripple
                    clickable
                    tag="a"
                    to="/vivreavec"
                    class="q-pa-xs"
                  >
                    <q-item-section
                      avatar
                      style="min-width: 8%"
                      class="q-pa-xs"
                    >
                      <q-icon name="ion-sunny"></q-icon>
                    </q-item-section>

                    <q-item-section class="text-bold">
                      Mieux vivre avec la maladie
                    </q-item-section>
                  </q-item>

                  <q-list dense class="text-caption">
                    <q-item v-ripple clickable tag="a" to="/vivreavec">
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon
                          size="xs"
                          name="eva-alert-circle-outline"
                        ></q-icon>
                      </q-item-section>
                      <q-item-section> Plus d'informations </q-item-section>
                    </q-item>
                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="http://www.simplifiezvouslavie.org/"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="ion-help-buoy"></q-icon>
                      </q-item-section>
                      <q-item-section>
                        Mes droits et mes démarches
                      </q-item-section>
                    </q-item>
                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://online.fliphtml5.com/qogx/aqxt/"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="ion-bicycle"></q-icon>
                      </q-item-section>
                      <q-item-section>
                        Activité physique et maladie (Brochure)
                      </q-item-section>
                    </q-item>
                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://online.fliphtml5.com/scly/pipx"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="eva-people-outline"></q-icon>
                      </q-item-section>
                      <q-item-section>
                        L'accompagnement psychologique des patients (Brochure)
                      </q-item-section>
                    </q-item>
                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://online.fliphtml5.com/scly/iujr/#p=1"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="ion-body"></q-icon>
                      </q-item-section>
                      <q-item-section>
                        Livret d'auto-rééducation sensitive et motrice
                      </q-item-section>
                    </q-item>

                    <q-item
                      v-ripple
                      clickable
                      tag="a"
                      href="https://www.neuropathies-peripheriques.org/les-acteurs-maladies-rares/"
                    >
                      <q-item-section
                        avatar
                        style="min-width: 8%"
                        class="q-pa-sm"
                      >
                        <q-icon size="xs" name="eva-list-outline"></q-icon>
                      </q-item-section>
                      <q-item-section>
                        Liste des acteurs maladies rares
                      </q-item-section>
                    </q-item>
                  </q-list>
                </div>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-expansion-item
          expand-separator
          icon="eva-radio-outline"
          label="Être informé des actualités"
          class="text-secondary text-bold"
          style="font-size: 120%"
          group="group-expansion"
        >
          <q-card>
            <q-card-section
              class="text-weight-regular q-pa-none"
              style="font-size: 90%"
            >
              <q-list dense class="rounded-borders">
                <q-item
                  v-ripple
                  clickable
                  tag="a"
                  href="https://www.neuropathies-peripheriques.org/actualite-action/"
                >
                  <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                    <q-icon name="eva-cast"></q-icon>
                  </q-item-section>

                  <q-item-section> Voir les actualités </q-item-section>
                </q-item>

                <q-item
                  v-ripple
                  clickable
                  tag="a"
                  href="https://neuropathies-peripheriques.org/#mailpoet_form_1"
                >
                  <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                    <q-icon name="eva-radio"></q-icon>
                  </q-item-section>

                  <q-item-section>
                    S'abonner à la newsletter
                  </q-item-section> </q-item
                ><q-item v-ripple>
                  <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                    <q-icon name="ion-share"></q-icon>
                  </q-item-section>

                  <q-item-section>
                    Nous suivre sur les réseaux sociaux
                  </q-item-section>
                </q-item>
                <q-list dense style="margin-left: 10%; border-left: 1px solid">
                  <q-item
                    clickable
                    tag="a"
                    href="https://fr-fr.facebook.com/peripheral.neuropathies.fr/"
                    class="q-pl-lg"
                  >
                    <q-item-section avatar>
                      <q-icon name="ion-logo-facebook" size="lg"></q-icon>
                    </q-item-section>
                    <q-item-section> Facebook </q-item-section>
                  </q-item>
                  <q-item
                    clickable
                    tag="a"
                    href="https://twitter.com/neuropathies_fr"
                  >
                    <q-item-section avatar>
                      <q-icon name="ion-logo-twitter" size="lg"></q-icon>
                    </q-item-section>

                    <q-item-section> Twitter </q-item-section>
                  </q-item>
                  <q-item
                    clickable
                    tag="a"
                    href="https://www.youtube.com/channel/UCqcItNAzMjsb3ZBaWAJIobA"
                  >
                    <q-item-section avatar>
                      <q-icon name="ion-logo-youtube"></q-icon>
                    </q-item-section>
                    <q-item-section> Youtube </q-item-section>
                  </q-item>
                </q-list>
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-expansion-item
          expand-separator
          icon="eva-message-square-outline"
          label="Discuter de la maladie"
          class="text-warning text-bold"
          style="font-size: 120%"
          group="group-expansion"
        >
          <q-card>
            <q-card-section
              class="text-weight-regular q-pa-none"
              style="font-size: 90%"
            >
              <q-list dense class="rounded-borders">
                <q-item v-ripple clickable tag="a" href="tel:+33652462492">
                  <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                    <q-icon name="eva-phone-call-outline"></q-icon>
                  </q-item-section>

                  <q-item-section> Contact téléphonique </q-item-section>
                </q-item>

                <q-item
                  v-ripple
                  clickable
                  tag="a"
                  href="mailto:contact@neuropathies-peripheriques.org"
                >
                  <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                    <q-icon name="eva-email-outline"></q-icon>
                  </q-item-section>

                  <q-item-section> Contact courriel </q-item-section>
                </q-item>

                <!-- <q-item
                  v-ripple
                  clickable
                  tag="a"
                  href="https://www.neuropathies-peripheriques.org/forums/"
                >
                  <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                    <q-icon name="eva-message-circle-outline"></q-icon>
                  </q-item-section>

                  <q-item-section> Forum </q-item-section>
                </q-item> -->
              </q-list>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-expansion-item
          expand-separator
          icon="eva-heart-outline"
          label="Aider l'association"
          class="text-dark text-bold"
          style="font-size: 120%"
          group="group-expansion"
        >
          <q-card>
            <q-card-section
              class="text-weight-regular q-pa-none"
              style="font-size: 90%"
            >
              <q-item
                v-ripple
                clickable
                tag="a"
                href="mailto:contact@neuropathies-peripheriques.org"
              >
                <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                  <q-icon name="ion-contacts"></q-icon>
                </q-item-section>

                <q-item-section> Adhésion </q-item-section>
              </q-item>

              <q-item
                v-ripple
                clickable
                tag="a"
                href="https://www.neuropathies-peripheriques.org/wp-login.php?action=register"
              >
                <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                  <q-icon name="ion-cash"></q-icon>
                </q-item-section>

                <q-item-section> Faire un don </q-item-section>
              </q-item>

              <!--  <q-item
                v-ripple
                clickable
                tag="a"
                href="https://www.neuropathies-peripheriques.org/#text-2"
              >
                <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                  <q-icon name="ion-megaphone"></q-icon>
                </q-item-section>

                <q-item-section> S'inscrire au forum </q-item-section>
              </q-item> -->

              <q-item
                v-ripple
                clickable
                tag="a"
                href="https://www.neuroquali.org/"
              >
                <q-item-section avatar style="min-width: 8%" class="q-pa-xs">
                  <q-icon name="ion-school"></q-icon>
                </q-item-section>

                <q-item-section>
                  Participer à la plateforme Neuroquali
                </q-item-section>
              </q-item>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-expansion-item
          expand-separator
          icon="ion-construct"
          label="Voir la liste des ressources à ma disposition"
          class="text-teal text-bold"
          style="font-size: 120%"
          group="group-expansion"
          to="/les-outils"
        >
        </q-expansion-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    return {};
  },
};
</script>
