<template>
  <q-page
    class="bg-info q-gutter-sm q-mx-none q-pr-sm row items-start justify-evenly"
  >
    <div class="q-gutter-xs col-12 text-center q-ma-none text-caption">
      <q-checkbox v-model="video" label="Videos" color="deep-purple" />
      <q-checkbox v-model="document" label="pdf" color="primary" />
      <q-checkbox v-model="audio" label="Audio" color="lime-10" />
      <q-checkbox v-model="site" label="Sites" color="teal" />
    </div>

    <h4
      class="col-12 text-center q-mt-lg q-pt-sm text-deep-purple inset-shadow"
    >
      Vidéos
    </h4>

    <q-card
      v-for="outil in outils"
      v-show="outil.type === 'video' && video"
      :key="outil.titre"
      class="my-card col-4 col-md-3 col-lg-2 col-grow"
    >
      <q-video
        clickable
        tag="a"
        :src="outil.youtube"
        ratio="2.2"
        :title="outil.description"
        v-if="isOnLine"
      />

      <q-card-section
        clickable
        tag="a"
        :href="outil.site"
        class="column items-center q-pa-xs text-center"
      >
        <div class="text-body2 text-center text-deep-purple text-bold">
          {{ outil.titre }}
        </div>
        <div class="text-caption float-right text-grey-10 text-italic">
          {{ outil.sous_titre }}
          <q-btn
            type="a"
            :href="outil.site"
            flat
            no-caps
            class=""
            title="Consulter sur le site de l'AFNP"
          >
            <q-icon name="ion-open"> </q-icon>
          </q-btn>
        </div>
      </q-card-section>
    </q-card>

    <h4 class="col-12 text-center q-mt-lg q-pt-sm text-primary inset-shadow">
      Documents
    </h4>

    <q-card
      v-for="outil in outils"
      v-show="outil.type === 'brochure' && document"
      :key="outil.titre"
      class="my-card col-4 col-sm-3 col-md-2 col-grow"
    >
      <q-card-section
        clickable
        tag="a"
        :href="outil.site"
        class="column items-center q-pa-xs text-center"
      >
        <div class="text-body2 text-center text-primary text-bold">
          {{ outil.titre }}
        </div>
        <div class="text-caption float-right text-grey-10 text-italic">
          {{ outil.sous_titre }}
        </div>

        <div>
          <q-btn
            type="a"
            :href="outil.pdf"
            flat
            no-caps
            class="float-left q-pl-none"
            title="Télécharger en pdf"
          >
            <q-icon name="ion-document"> </q-icon>
          </q-btn>
          <q-btn
            type="a"
            :href="outil.site"
            flat
            no-caps
            class="float-right q-pl-none"
            title="Consulter en ligne"
          >
            <q-icon name="ion-open"> </q-icon>
          </q-btn>
        </div>
      </q-card-section>
    </q-card>

    <h4 class="col-12 text-center q-mt-lg q-pt-sm text-teal inset-shadow">
      Sites internets
    </h4>

    <q-card
      v-for="outil in outils"
      v-show="outil.type === 'site' && site"
      :key="outil.titre"
      class="my-card col-4 col-sm-3 col-md-2 col-grow"
    >
      <q-card-section
        clickable
        tag="a"
        :href="outil.site"
        class="column items-center q-pa-xs text-center"
      >
        <div class="text-body2 text-center text-teal text-bold">
          {{ outil.titre }}
        </div>
        <div class="text-caption float-right text-grey-10 text-italic">
          {{ outil.sous_titre }}
        </div>
      </q-card-section>
    </q-card>

    <h4 class="col-12 text-center q-mt-lg q-pt-sm text-lime-10 inset-shadow">
      Podcasts audio
    </h4>

    <q-card
      v-for="outil in outils"
      v-show="outil.type === 'audio' && audio"
      :key="outil.titre"
      class="my-card col-4 col-sm-3 col-md-2 col-grow"
    >
      <q-card-section class="column items-center q-pa-xs text-center">
        <div class="text-body2 text-center text-lime-10 text-bold">
          {{ outil.titre }}
        </div>
        <div class="text-caption float-right text-grey-10 text-italic">
          {{ outil.sous_titre }}
        </div>

        <div>
          <q-btn
            type="a"
            :href="outil.site"
            flat
            no-caps
            class="float-left q-pl-none text-lime-10"
            title="Écouter sur rarealecoute.com"
          >
            <q-icon name="ion-open"> </q-icon>
          </q-btn>
          <q-btn
            type="a"
            :href="outil.mp3"
            flat
            no-caps
            class="float-right q-pl-none text-lime-10"
            title="Télécharger"
          >
            <q-icon name="ion-download"> </q-icon>
          </q-btn>
        </div>
      </q-card-section>
    </q-card>

    <div class="col-12 q-pa-sm">
      <q-separator />
    </div>
  </q-page>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    return {
      outils: [
        {
          titre:
            "Éducation thérapeutique du patient et neuropathies périphériques dysimmunitaires rares",
          sous_titre: "Brochure AFNP (30p)",
          type: "brochure",
          site: "https://online.fliphtml5.com/jngq/dnjq/",
          pdf: "https://neuroquali.org/doc/dnjq_light.pdf",
        },
        {
          titre:
            "Activité physique et neuropathies périphériques inflammatoires-dysimmunes",
          sous_titre: "Brochure AFNP (13 p.)",
          type: "brochure",
          site: "http://online.fliphtml5.com/qogx/aqxt",
          pdf: "https://neuroquali.org/doc/aqxt_light.pdf",
        },
        {
          titre:
            "Les immunoglobulines sous-cutanées dans les neuropathies inflammatoires chroniques",
          sous_titre: "Brochure AFNP (32 p.)",
          type: "brochure",
          site: "https://online.fliphtml5.com/sxqie/obmi/?1541853756908/",
          pdf: "https://neuroquali.org/doc/obmi_light.pdf",
        },
        {
          titre:
            "L'accompagnement psychologique des patients atteints de neuropathies périphériques inflammatoires",
          sous_titre: "Brochure AFNP (20 p.)",
          type: "brochure",
          site: "https://online.fliphtml5.com/scly/pipx",
          pdf: "https://neuroquali.org/doc/pipx_light.pdf",
        },
        {
          titre:
            "Polyradiculoneuropathie Inflammatoire Démyélinisante Chronique ",
          sous_titre: "Protocole National de Diagnostic et de Soins (49 p.)",
          type: "brochure",
          site: "https://www.has-sante.fr/jcms/p_3261449/fr/polyradiculoneuropathie-inflammatoire-demyelinisante-chronique-pidc",
          pdf: "https://www.has-sante.fr/upload/docs/application/pdf/2021-04/polyradiculoneuropathie_inflammatoire_demyelinisante_chronique_-_pnds.pdf",
        },
        {
          titre: "Mon livret d'auto-rééducation sensitive et motrice",
          sous_titre: "Brochure collective (62 p.)",
          type: "brochure",
          site: "https://online.fliphtml5.com/scly/iujr/#p=1",
          pdf: "https://neuroquali.org/doc/iujr_light.pdf",
        },
        {
          titre: "Association Française contre les Neuropathies Périphériques",
          sous_titre: "Site de l'AFNP",
          type: "site",
          site: "https://www.neuropathies-peripheriques.org/",
        },
        {
          titre: "Trouver le centre de référence le plus proche",
          sous_titre: "Une carte interactive sur filnemus.fr",
          type: "site",
          site: "https://www.filnemus.fr/carte-interactive/ou-consulter",
        },
        {
          titre: "Simplifiez vous la vie",
          sous_titre: "Accompagnement pour vos droits et démarches",
          type: "site",
          site: "http://www.simplifiezvouslavie.org/",
        },
        {
          titre: "Liste des acteurs maladies rares",
          sous_titre: "Acteurs nationaux et internationaux",
          type: "site",
          site: "https://www.neuropathies-peripheriques.org/les-acteurs-maladies-rares/",
        },
        {
          titre: "Le système nerveux",
          sous_titre: "Épisode 1 (4mn)",
          type: "video",
          site: "https://www.neuropathies-peripheriques.org/wp-content/uploads/2022/04/Ep.01Le-systeme-nerveux-peripherique-.mp4",
          youtube: "https://www.youtube-nocookie.com/embed/B-UqDqJH7X8",
          description:
            "Épisode 1 de la série pour tout savoir sur les neuropathies périphériques auto-immunes / inflammatoire",
        },
        {
          titre: "Les nerfs et l'influx nerveux",
          sous_titre: "Épisode 2 (4mn)",
          type: "video",
          site: "https://www.neuropathies-peripheriques.org/wp-content/uploads/2022/04/Ep.02Les-nerfs-et-linflux-nerveux.mp4",
          youtube: "https://www.youtube-nocookie.com/embed/bxm-WXeeYJE",
          description:
            "Épisode 2 de la série pour tout savoir sur les neuropathies périphériques auto-immunes / inflammatoire",
        },
        {
          titre: "Les neuropathies périphériques auto-immunes",
          sous_titre: "Épisode 3 (3mn)",
          type: "video",
          site: "https://www.neuropathies-peripheriques.org/wp-content/uploads/2022/04/ep.03Les-neuropathies-peripheriques-auto-immunes.mp4",
          youtube: "https://www.youtube-nocookie.com/embed/0qbIE0FjrTo",
          description:
            "Épisode 3 de la série pour tout savoir sur les neuropathies périphériques auto-immunes / inflammatoire",
        },
        {
          titre: "Le diagnostic des neuropathies périphériques auto-immunes",
          sous_titre: "Épisode 4 (4mn)",
          type: "video",
          site: "https://www.neuropathies-peripheriques.org/wp-content/uploads/2022/04/ep.04Le-diagnostic-des-neuropathies-peripheriques-auto-immunes.mp4",
          youtube: "https://www.youtube-nocookie.com/embed/VbbWgEjT4OU",
          description:
            "Épisode 4 de la série pour tout savoir sur les neuropathies périphériques auto-immunes / inflammatoire",
        },
        {
          titre:
            "Le traitement des PIDC (Polyradiculonévrites Inflammatoires Démyélinisantes Chroniques)",
          sous_titre: "Épisode 5 (4mn)",
          type: "video",
          site: "https://www.neuropathies-peripheriques.org/wp-content/uploads/2022/04/ep.05Le-traitement-des-PIDC.mp4",
          youtube: "https://www.youtube-nocookie.com/embed/83Hmaqd1tgI",
          description:
            "Épisode 5 de la série pour tout savoir sur les neuropathies périphériques auto-immunes / inflammatoire",
        },
        {
          titre: "Vivre avec une neuropathie périphérique",
          sous_titre: "Épisode 6 (3mn)",
          type: "video",
          site: "https://www.neuropathies-peripheriques.org/wp-content/uploads/2022/04/ep.06Vivre-avec-une-neuropathie-peripherique.mp4",
          youtube: "https://www.youtube-nocookie.com/embed/Vb30Tb0xQnQ",
          description:
            "Épisode 6 de la série pour tout savoir sur les neuropathies périphériques auto-immunes / inflammatoire",
        },
        {
          titre:
            "1. Qu’appelle-t-on PIDC ? (Pr Shahram Attarian, CHU de Marseille)",
          sous_titre: "RARE à l'écoute S. 26 Ép. 1 (7mn)",
          type: "audio",
          mp3: "https://rarealecoute.com/inc/uploads/2022/02/1.-PIDC-Pr-Attarian-139.mp3",
          site: "https://rarealecoute.com/epsode/quappelle-t-on-pidc/",
        },
        {
          titre: "2. Diagnostiquer une PIDC (Pr Yann Péréon, CHU de Nantes)",
          sous_titre: "RARE à l'écoute S. 26 Ép. 2 (7mn)",
          type: "audio",
          mp3: "https://rarealecoute.com/inc/uploads/2022/02/2.-PIDC-Pr-Pereon-131.mp3",
          site: "https://rarealecoute.com/epsode/diagnostiquer-une-pidc/",
        },
        {
          titre:
            "3.  Reconnaître une PIDC : quels diagnostics différentiels ? (Dr Marion Masingue, Hôpital Pitié-Salpêtrière Paris)",
          sous_titre: "RARE à l'écoute S. 26 Ép. 3 (14mn)",
          type: "audio",
          mp3: "https://rarealecoute.com/inc/uploads/2022/02/3.-PIDC-Dr-Masingue-143-.mp3",
          site: "https://rarealecoute.com/epsode/reconnaitre-une-pidc-quels-diagnostics-differentiels/",
        },
        {
          titre:
            "4. Prendre en charge une PIDC (Dr Pascal Cintas, CHU de Toulouse)",
          sous_titre: "RARE à l'écoute S. 26 Ép. 4 (7mn)",
          type: "audio",
          mp3: "https://rarealecoute.com/inc/uploads/2022/02/4.-PIDC-Dr-Cintas-137.mp3",
          site: "https://rarealecoute.com/epsode/prendre-en-charge-une-pidc/",
        },
        {
          titre:
            "5. Vivre avec une PIDC (Jean-Philippe Plançon, Président de l’AFNP)",
          sous_titre: "RARE à l'écoute S. 26 Ép. 5 (13mn)",
          type: "audio",
          mp3: "https://rarealecoute.com/inc/uploads/2022/03/5.-PIDC-Mr-Plancon-127.mp3",
          site: "https://rarealecoute.com/epsode/vivre-avec-une-pidc/",
        },
      ],
      video: ref(true),
      site: ref(true),
      document: ref(true),
      audio: ref(true),
      isOnLine: navigator.onLine,
    };
  },
};
</script>
