<template>
  <q-page class="bg-info">
    <div class="q-pa-md q-pt-md text-justify">
      <p>
        <strong>
          Selon le type de neuropathie périphérique, certains traitements
          peuvent être proposés.</strong
        >
        (<a
          href="https://www.neuropathies-peripheriques.org/neuropathies-peripheriques/les-pratiques-de-soins/"
          >Source en ligne</a
        >)
      </p>
      <ul>
        <li>Les Immunoglobulines</li>
        <li>Les immunosuppresseurs</li>
        <li>Les échanges plasmatiques ou plasmaphérèse</li>
      </ul>
      <h5 id="la-douleur">LA DOULEUR</h5>
      <p>
        Les douleurs neuropathiques constituent une plainte extrêmement
        fréquentes et sont souvent particulièrement difficiles à traiter.
        Certains médicaments parfois améliorent les symptômes douloureux mais
        chaque patient est différent…
      </p>
      <p>
        Les interventions non médicamenteuses permettent aussi de faire face à
        la douleur: Acupuncture, sophrologie, hypnose, électrostimulation
        constituent sont des pistes à explorer..
      </p>
      <h5 id="nos-conseils">NOS CONSEILS</h5>

      <p>Se rapprocher d’un centre anti-douleur.</p>
      <p>
        Faire un point régulier avec le(s) médecin(s) prescripteur(s) pour
        s’assurer de l’intérêt des médicaments prescrits. Sont-ils efficaces?
        Quels sont les effets secondaires? Faut-il insister ou au contraire
        stopper le traitement à visée antalgique?
      </p>
      <p>Vous seul(e) savez ce qui amépore votre quapté de vie ou non.</p>
      <p>
        <q-btn
          flat
          label="Voir les outils à disposition"
          icon="ion-construct"
          class="text-primary"
          to="/les-outils"
        />
      </p>
      <p>
        <q-btn
          flat
          icon="eva-email"
          label="Nous contacter"
          class="text-primary"
          type="a"
          href="mailto:contact@neuropathies-peripheriques.org"
        />
      </p>
    </div>
  </q-page>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    return {};
  },
};
</script>
