<template>
  <q-page class="bg-info">
    <div class="q-pa-md q-pt-md text-justify">
      <h4 id="vous-nêtes-pas-seuls-" class="text-secondary text-center">
        Vous n’êtes pas seuls !
      </h4>
      <hr />
      <p>
        <strong
          >L’annonce diagnostique d’une neuropathie périphérique est toujours
          génératrice d’inquiétude et trouver des réponses à ses questions n’est
          pas toujours chose facile surtout lorsqu’il s’agit d’une maladie rare
          voire très rare…</strong
        >
        (<a href="https://www.neuropathies-peripheriques.org/vous-ccompagner/"
          >Source en ligne</a
        >)
      </p>
      <p>
        Plus de vingt ans d’expérience sont à votre disposition pour vous aider
        dans votre parcours de soins. N’hésitez-pas!!
      </p>
      <h5 id="les-groupes-dinteret-de-lafnp-">
        Les groupes d’intérêt de l’AFNP :
      </h5>
      <ul>
        <li>
          Gammapathies monoclonales/neuropathies associées à une dysglobulinémie
        </li>
        <li>Polyradiculonévrites chroniques / Syndrome de Lewis-Sumner</li>
        <li>Neuropathies Motrices Multifocales</li>
        <li>Syndrome de Guillain-Barré / Syndrome de Miller-Fisher</li>
        <li>
          Neuropathies à petites fibres / - Neuropathies Douloureuses /
          Neuropathies sensitives inflammatoires-dysimmunitaires
        </li>
      </ul>
      <h4 id="nos-objectifs">Nos objectifs</h4>
      <p>
        Dans le domaine des neuropathies périphériques dysimmunes et
        inflammatoires acquises:
      </p>
      <ol>
        <li>Porter la voie des malades au niveau national et international</li>
        <li>
          Favoriser et de contribuer à la mise en oeuvre des programmes
          d’éducation thérapeutique du patient
        </li>
        <li>
          Accompagner les malades et leurs proches dans leur parcours de soins
        </li>
        <li>Faciliter les échanges et les partages d’expériences</li>
        <li>
          Collecter et diffuser des informations à destination de tous, pour
          favoriser une meilleure connaissance
        </li>
        <li>Promouvoir toutes les recherches.</li>
      </ol>
    </div>
  </q-page>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    return {};
  },
};
</script>
