// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1b6986;
$secondary: #891e76;
$accent: #2c536144;
$warning: #ea6012;
$dark: #00514e;
$info: #f8faf1;

$positive: #21ba45;
$negative: #c10015;

$link: #2c5361;
