<template>
  <q-layout view="lhr lpR lFf">
    <q-header elevated style="height: 30px">
      <p class="text-center text-subtitle2 q-pt-xs">AFNP-connect</p>
    </q-header>
    <q-footer elevated class="bg-info">
      <q-btn-group spread>
        <q-btn icon="eva-home" class="text-primary" to="/">
          <q-tooltip class="bg-secondary">Accueil</q-tooltip>
        </q-btn>
        <q-btn icon="ion-construct" class="text-primary" to="/les-outils">
          <q-tooltip class="bg-secondary">Les outils</q-tooltip>
        </q-btn>
        <q-btn
          icon="eva-email"
          class="text-primary"
          type="a"
          href="mailto:contact@neuropathies-peripheriques.org"
        >
          <q-tooltip class="bg-secondary">Contact</q-tooltip>
        </q-btn>
        <q-btn icon="eva-question-mark" class="text-primary" to="/a-propos">
          <q-tooltip class="bg-secondary">À propos</q-tooltip>
        </q-btn>
      </q-btn-group>
    </q-footer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",

  setup() {
    const leftDrawerOpen = ref(false);
  },
});
</script>
